@CHARSET "UTF-8";

body {
		text-align: left;
		background-color: hsla(120,10%,90%,0.9);
}

#submit , #buying, #buy{
	    width: 4.5em;
	    height: 2em ;
	    color: red ;
	    position:relative;
}

h4{
	color: blue ;
}

#div1 #l1 {

	margin-top: 2% ;
	margin-left: 1% ;
	color: #50AF70 ;
}

#div1 #in1 {
	margin-left: 16% ;
}

#label1, #label2, #label3{
	color: #BBAF70 ;
}
